<!-- views/files.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% if (!root) {%>
        <a href="/files/<%= parent %>">.. (Parent Directory)</a>
    <% } %>
    <% for (let i = 0; i < contents.length; i++) { %>
        <p>Contents here</p>
    <%}%>
    <a href="/">Home</a>
</body>
</html>
